.spinner {
    /* ... */
    display: inline-block;
    opacity: 0;
    width: 15px;
    height: 15px;
    background-color: red;
    animation:
        fadeIn 500ms 100ms forwards,
        rotate 1s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}